{% extends "layout1.html" %}

{% block title %}
	login
{% endblock %}

{% block body %}
	<div class="center">
		<h1>Login</h1>
		{% if Error %}
			<div class="alert alert-warning" role="alert">
				{{ Error }}
			</div>
		{% endif %}
		<form class="card shad" method="post" action="/login">
			<div class="mb-3">

				<label for="username" class="form-label">Username</label>
				<input type="text" name="username" class="form-control" placeholder="Username">

				<label for="exampleInputPassword1" class="form-label">Password</label>
				<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

			</div>

            <button type="submit" class="btn btn-outline-primary">Login</button>

			<p>Don't have and account? <a href="/register">Register.</a></p>
		</form>
	</div>
{% endblock %}