{% extends "layout1.html" %}

{% block title %}
	register
{% endblock %}

{% block body %}
	<div class="center">
		<h1>Register</h1>
		{% if Error %}
			<div class="alert alert-warning" role="alert">
				{{ Error }}
			</div>
		{% endif %}
			<form class="card shad" method="post" action="/register">
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input type="text" class="form-control" name="username" placeholder="Username">

					<label for="Email" class="form-label">Email address</label>
					<input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="email" placeholder="Email">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">

					<label for="exampleInputPassword1" class="form-label">Confirmation</label>
					<input type="password" class="form-control" name="confirmation" id="exampleInputPassword1" placeholder="Password confirmation">
					<br>
                    <button type="submit" class="btn btn-outline-primary">Register</button>
					<p>Already have an account? <a href="/login">Login.</a></p>
				</div>
			</form>
	</div>
{% endblock %}